In [9]:
def gry():
    m = int(input("Enter a number to calculate Factorial: "))
    v = 1
    for i in range(1,m+1):
        v*=i
    print("Factorial of {} is: {}".format(m,v))
    return

def evn(z):
    for i in range(1,z+1):
        if i%2==0:
            print(i,end=" ")
        else:
            print("Odd",end=" ")
    print()
    return

def sn(m):
    q = 0
    for i in range(1,m+1):
        q+=i
    return q

In [8]:
while True:
    print("1.Factorial\n2.Sum of n natural\n3.Even numbers\n4.Exit")
    p = int(input("Select Your Option: "))
    if p == 1:
        gry()
    elif p == 3:
        h = int(input("Enter a range: "))
        evn(h)
    elif p == 2:
        c = int(input("Enter a range: "))
        print("Sum of {} natural sum is: {}".format(c,sn(c)))
    elif p == 4:
        break
    else:
        print("Try Valid options\n")

1.Factorial
2.Sum of n natural
3.Even numbers
4.Exit
Select Your Option: 4

## Data Structures:
    - To organize the data in order or unorder format
    - List
    - Tuple
    - Set
    - Dictionary
    - String

## List:
    - It can be represented as "[]"
    - It stores different data type elements and seperated with ','
    - It allows duplicate values
    - It stores data in ordered format
    - It can changes a value
    - Slicing can be done because of index values
    - It can be typecasted as list()

In [10]:
j = 10
print(type(j))

<class 'int'>

In [13]:
w = [2,85.012,'Prasad',True,45+5j,None,2,2,2]
print(type(w))
print(w)

<class 'list'>
[2, 85.012, 'Prasad', True, (45+5j), None, 2, 2, 2]

In [17]:
for i in range(len(w)):
    print(i,w[i])

0 2
1 85.012
2 Prasad
3 True
4 (45+5j)
5 None
6 2
7 2
8 2

In [18]:
for i in w:
    print(i)

2
85.012
Prasad
True
(45+5j)
None
2
2
2

In [35]:
t = [23,56.89,'Lalitha','45.012',False,15+4j,23,23]
print(t)
print(t[2])
print(t[-4])
# print(t[20])
# print(t[-30])
print(t[:])
print(t[2:])
print(t[:5])
print(t[-4:])
print(t[:-3])
print(t[3:6])
print(t[6:3])
print(t[2:-3])
print(t[-7:6])
print(t[-3:-5])
print(t[-5:-3])

[23, 56.89, 'Lalitha', '45.012', False, (15+4j), 23, 23]
Lalitha
False
[23, 56.89, 'Lalitha', '45.012', False, (15+4j), 23, 23]
['Lalitha', '45.012', False, (15+4j), 23, 23]
[23, 56.89, 'Lalitha', '45.012', False]
[False, (15+4j), 23, 23]
[23, 56.89, 'Lalitha', '45.012', False]
['45.012', False, (15+4j)]
[]
['Lalitha', '45.012', False]
[56.89, 'Lalitha', '45.012', False, (15+4j)]
[]
['45.012', False]

In [46]:
print(t[::])
print(t[3::])
print(t[:5:])
print(t[::3])
print(t[2:7:])
print(t[2:-5:])
print(t[-3:6:])
print(t[-6:-3:])
print(t[2:5:-1])
print(t[::-1])

[23, 56.89, 'Lalitha', '45.012', False, (15+4j), 23, 23]
['45.012', False, (15+4j), 23, 23]
[23, 56.89, 'Lalitha', '45.012', False]
[23, '45.012', 23]
['Lalitha', '45.012', False, (15+4j), 23]
['Lalitha']
[(15+4j)]
['Lalitha', '45.012', False]
[]
[23, 23, (15+4j), False, '45.012', 'Lalitha', 56.89, 23]

In [47]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [48]:
print(int.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [49]:
print(list.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [51]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [53]:
k = [45]
print(k)
k.append('78')
print(k)

[45]
[45, '78']

In [54]:
print(k)
k.append(45,12)
print(k)

[45, '78']

TypeError: list.append() takes exactly one argument (2 given)

In [55]:
print(k)
k.append([12,'Tarun',False])
print(k)

[45, '78']
[45, '78', [12, 'Tarun', False]]

In [56]:
print(k)
k.append((13,'Teja',True))
print(k)

[45, '78', [12, 'Tarun', False]]
[45, '78', [12, 'Tarun', False], (13, 'Teja', True)]

In [57]:
print(k)
k.append({22,'Tilak'})
print(k)

[45, '78', [12, 'Tarun', False], (13, 'Teja', True)]
[45, '78', [12, 'Tarun', False], (13, 'Teja', True), {'Tilak', 22}]

In [58]:
print(k)
k.append('Tarun is good at teaching')
print(k)

[45, '78', [12, 'Tarun', False], (13, 'Teja', True), {'Tilak', 22}]
[45, '78', [12, 'Tarun', False], (13, 'Teja', True), {'Tilak', 22}, 'Tarun is good at teaching']

In [60]:
print(k)
k.append({"sno":12,"name":'Tarun',"User":False})
print(k)

[45, '78', [12, 'Tarun', False], (13, 'Teja', True), {'Tilak', 22}, 'Tarun is good at teaching']
[45, '78', [12, 'Tarun', False], (13, 'Teja', True), {'Tilak', 22}, 'Tarun is good at teaching', {'sno': 12, 'name': 'Tarun', 'User': False}]

In [61]:
m = [89.012]
print(m)
m.extend(45)
print(m)

[89.012]

TypeError: 'int' object is not iterable

In [62]:
print(m)
m.extend([56,12,'Kiran'])
print(m)

[89.012]
[89.012, 56, 12, 'Kiran']

In [64]:
print(m)
m.extend((50,125,'Kiran Kumar'))
print(m)

[89.012, 56, 12, 'Kiran']
[89.012, 56, 12, 'Kiran', 50, 125, 'Kiran Kumar']

In [65]:
print(m)
m.extend({56,1258,'Kiran K'})
print(m)

[89.012, 56, 12, 'Kiran', 50, 125, 'Kiran Kumar']
[89.012, 56, 12, 'Kiran', 50, 125, 'Kiran Kumar', 56, 1258, 'Kiran K']

In [66]:
h = [12,56]
print(h)
h.insert()

[12, 56]

TypeError: insert expected 2 arguments, got 0

In [67]:
print(h)
h.insert(0,"Rajesh")
print(h)

[12, 56]
['Rajesh', 12, 56]

In [68]:
print(h)
h.insert(10,"Rajeshwari")
print(h)

['Rajesh', 12, 56]
['Rajesh', 12, 56, 'Rajeshwari']

In [69]:
print(h)
h.insert(0,[45,23])
print(h)

['Rajesh', 12, 56, 'Rajeshwari']
[[45, 23], 'Rajesh', 12, 56, 'Rajeshwari']

In [70]:
j = [12,78,56,45,889]
print(j)
j.pop()
print(j)

[12, 78, 56, 45, 889]
[12, 78, 56, 45]

In [71]:
print(j)
j.pop(1)
print(j)

[12, 78, 56, 45]
[12, 56, 45]

In [72]:
print(j)
j.pop(5)
print(j)

[12, 56, 45]

IndexError: pop index out of range

In [73]:
print(j)
j.remove()
print(j)

[12, 56, 45]

TypeError: list.remove() takes exactly one argument (0 given)

In [74]:
print(j)
j.remove(56)
print(j)

[12, 56, 45]
[12, 45]

In [75]:
print(j)
j.remove(100)
print(j)

[12, 45]

ValueError: list.remove(x): x not in list

In [76]:
k = [100,45,15,19,78]
print(k)
n = k.copy()
print(n)

[100, 45, 15, 19, 78]
[100, 45, 15, 19, 78]

In [78]:
print(n)
n.pop()
print(k)
print(n)
n.clear()
print(n)

[100, 45, 15, 19]
[100, 45, 15, 19, 78]
[100, 45, 15]
[]

In [79]:
b = [1,8,9,1,8,92,2,5,6]
print(b)
print(b.count(6))
print(b.count(100))
print(b.count(1))

[1, 8, 9, 1, 8, 92, 2, 5, 6]
1
0
2

In [80]:
y = [12,89,'Lavanya',9+5j,False]
print(y)
y.reverse()
print(y)

[12, 89, 'Lavanya', (9+5j), False]
[False, (9+5j), 'Lavanya', 89, 12]

In [81]:
z = [12,0,56,158,33,89]
print(z)
z.sort()
print(z)

[12, 0, 56, 158, 33, 89]
[0, 12, 33, 56, 89, 158]

In [82]:
p = [45,89,23,0,56]
print(p)
p.sort(reverse=True)
print(p)

[45, 89, 23, 0, 56]
[89, 56, 45, 23, 0]

In [83]:
b = [12,78,89,568]
print(b)
print(b.index(78))
print(b.index(788))

[12, 78, 89, 568]
1

ValueError: 788 is not in list

In [84]:
a = [78,569]
print(a)
del a
print(a)

[78, 569]

NameError: name 'a' is not defined

## Tuple:
    - It can be represented as "()"
    - It stores all data type elements with "," seperation
    - It allows duplicate elements
    - It cant changes a value
    - It stores data in order format
    - It can be typecasted as tuple()
    - Slicing can be done because of index

In [86]:
j = (45,56.012,"kiran",67+6j,True,None,45)
print(j,type(j))

(45, 56.012, 'kiran', (67+6j), True, None, 45) <class 'tuple'>

In [87]:
for i in range(len(j)):
    print(i,j[i])

0 45
1 56.012
2 kiran
3 (67+6j)
4 True
5 None
6 45

In [88]:
for i in j:
    print(i)

45
56.012
kiran
(67+6j)
True
None
45

In [90]:
v = (12,78,56,89,45,158)
print(v)
print(v[5])
print(v[2:6])
print(v[::-1])

(12, 78, 56, 89, 45, 158)
158
(56, 89, 45, 158)
(158, 45, 89, 56, 78, 12)

In [89]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [91]:
g = (45,78,56,89,45)
print(g)
print(g.count(56))
print(g.count(-200))

(45, 78, 56, 89, 45)
1
0

In [92]:
print(g)
print(g.index(56))

(45, 78, 56, 89, 45)
2

In [93]:
print(g)
print(g.index(-500))

(45, 78, 56, 89, 45)

ValueError: tuple.index(x): x not in tuple

In [94]:
h = tuple()
print(h,type(h))

() <class 'tuple'>

In [95]:
k = ()
print(k,type(k))

() <class 'tuple'>

In [100]:
s = (45,89)
k = list(s)
print(s,type(s))
print(k,type(k))
z = int(input("Enter a value: "))
k.insert(0,z)
v = tuple(k)
print(v,type(v))

(45, 89) <class 'tuple'>
[45, 89] <class 'list'>
Enter a value: 650
(650, 45, 89) <class 'tuple'>

## Dictionary:
    - It stores the data in key and value pairs seperated with ","
    - Duplicate values can be accessed but not for keys
    - Slicing can be done for values but not for keys
    - values can be changes
    - It can be typecasted as dict()
    - It stores data in order format

In [101]:
g = {'45'}
c = {}
print(g,type(g))
print(c,type(c))

{'45'} <class 'set'>
{} <class 'dict'>

In [103]:
z = {'sno':[12,13,14,15,14],'name':('kiran','kavitha'),'name':'Rajesh'}
print(z,type(z))

{'sno': [12, 13, 14, 15, 14], 'name': 'Rajesh'} <class 'dict'>

In [104]:
for i in z:
    print(i,type(i))

sno <class 'str'>
name <class 'str'>

In [105]:
for i in z.items():
    print(i,type(i))

('sno', [12, 13, 14, 15, 14]) <class 'tuple'>
('name', 'Rajesh') <class 'tuple'>

In [106]:
for i in z.keys():
    print(i,type(i))

sno <class 'str'>
name <class 'str'>

In [107]:
for i in z.values():
    print(i,type(i))

[12, 13, 14, 15, 14] <class 'list'>
Rajesh <class 'str'>

In [108]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [109]:
print(z.keys())

dict_keys(['sno', 'name'])

In [110]:
print(z.values())

dict_values([[12, 13, 14, 15, 14], 'Rajesh'])

In [111]:
print(z.items())

dict_items([('sno', [12, 13, 14, 15, 14]), ('name', 'Rajesh')])

In [112]:
print(z.get('sno'))

[12, 13, 14, 15, 14]

In [113]:
print(z.get('name'))

Rajesh

In [114]:
print(z.get('Sal'))

None

In [115]:
print(z['sno'])

[12, 13, 14, 15, 14]

In [116]:
s = {'sno':78,'sname':'Harish','sal':5000}
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000}

In [117]:
print(s)
s.setdefault('addr')
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000}
{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'addr': None}

In [119]:
print(s)
s.setdefault('age',45)
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'addr': None}
{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'addr': None, 'age': 45}

In [120]:
print(s)
s.update({'addr':'VJD'})
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'addr': None, 'age': 45}
{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'addr': 'VJD', 'age': 45}

In [121]:
print(s)
s['addr'] = 'KDP'
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'addr': 'VJD', 'age': 45}
{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'addr': 'KDP', 'age': 45}

In [122]:
print(s)
s.pop()
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'addr': 'KDP', 'age': 45}

TypeError: pop expected at least 1 argument, got 0

In [123]:
print(s)
s.pop('addr')
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'addr': 'KDP', 'age': 45}
{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'age': 45}

In [124]:
print(s)
s.popitem()
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000, 'age': 45}
{'sno': 78, 'sname': 'Harish', 'sal': 5000}

In [125]:
print(s)
s.popitem('sname')
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000}

TypeError: dict.popitem() takes no arguments (1 given)

In [127]:
print(s)
s.pop('loc')
print(s)

{'sno': 78, 'sname': 'Harish', 'sal': 5000}

KeyError: 'loc'

In [128]:
h = [12,78,2]
w = {}
w = w.fromkeys(h)
print(w)

{12: None, 78: None, 2: None}

## Set:
    - It can be represented as "{}" with single value in it
    - It doesnt allows duplicate elements
    - It stores data in unordered format
    - Slicing cant be done because of no index
    - It can be typecasted as set()
    - It stores all data type elements
    - It can changes a value

In [131]:
z = {45,45.021,'Manoj',False,3+6j,None,45,'0.1',0.001}
print(z,type(z))
z

{False, 45, 45.021, None, 'Manoj', (3+6j), '0.1', 0.001} <class 'set'>

{(3+6j), 0.001, '0.1', 45, 45.021, False, 'Manoj', None}

In [132]:
for i in z:
    print(i)

False
45
45.021
None
Manoj
(3+6j)
0.1
0.001

In [134]:
for i in range(len(z)):
    print(z[i])

TypeError: 'set' object is not subscriptable

In [135]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [136]:
a = {45,7,8,9,3,420}
b = {120,5,7,8,3,168}
print(a)
print(b)

{3, 420, 7, 8, 9, 45}
{3, 5, 7, 8, 120, 168}

In [137]:
print(a)
print(b)
print(a.union(b))
print(a.intersection(b))
print(a)
print(b)

{3, 420, 7, 8, 9, 45}
{3, 5, 7, 8, 120, 168}
{3, 420, 5, 7, 8, 9, 168, 45, 120}
{8, 3, 7}
{3, 420, 7, 8, 9, 45}
{3, 5, 7, 8, 120, 168}

In [138]:
print(a)
print(b)
print(a.difference(b))
print(a)
print(b)

{3, 420, 7, 8, 9, 45}
{3, 5, 7, 8, 120, 168}
{9, 420, 45}
{3, 420, 7, 8, 9, 45}
{3, 5, 7, 8, 120, 168}

In [139]:
print(a)
print(b)
print(a.symmetric_difference(b))
print(a)
print(b)

{3, 420, 7, 8, 9, 45}
{3, 5, 7, 8, 120, 168}
{420, 5, 168, 9, 45, 120}
{3, 420, 7, 8, 9, 45}
{3, 5, 7, 8, 120, 168}

In [140]:
print(a)
print(b)
a.intersection_update(b)
print(a)
print(b)

{3, 420, 7, 8, 9, 45}
{3, 5, 7, 8, 120, 168}
{8, 3, 7}
{3, 5, 7, 8, 120, 168}

In [141]:
print(a)
print(b)
a.symmetric_difference_update(b)
print(a)
print(b)

{8, 3, 7}
{3, 5, 7, 8, 120, 168}
{5, 120, 168}
{3, 5, 7, 8, 120, 168}

In [142]:
s = {23,56,7,8,9}
w = {45,8,9,4,230}
print(s)
print(w)
s.difference_update(w)
print(s)
print(w)

{23, 7, 8, 9, 56}
{4, 230, 8, 9, 45}
{23, 7, 56}
{4, 230, 8, 9, 45}

In [143]:
y = set()
print(y)
y.add(45,78,56)
print(y)

set()

TypeError: set.add() takes exactly one argument (3 given)

In [144]:
y = set()
print(y)
y.add([45,78,56])
print(y)

set()

TypeError: unhashable type: 'list'

In [145]:
y = set()
print(y)
y.add({45,78,56})
print(y)

set()

TypeError: unhashable type: 'set'

In [146]:
y = set()
print(y)
y.add((45,78,56))
print(y)

set()
{(45, 78, 56)}

In [147]:
v = {45,56,23,89,450}
print(v)
v.pop()
print(v)

{450, 23, 56, 89, 45}
{23, 56, 89, 45}

In [148]:
print(v)
v.pop(23)
print(v)

{23, 56, 89, 45}

TypeError: set.pop() takes no arguments (1 given)

In [149]:
print(v)
v.remove()
print(v)

{23, 56, 89, 45}

TypeError: set.remove() takes exactly one argument (0 given)

In [150]:
print(v)
v.remove(23)
print(v)

{23, 56, 89, 45}
{56, 89, 45}

In [151]:
print(v)
v.remove(100)
print(v)

{56, 89, 45}

KeyError: 100

In [152]:
print(v)
v.discard(89)
print(v)

{56, 89, 45}
{56, 45}

## String:
    - It stores different data type elements but enclosed with ' or "
    - Changes can be done
    - It can be represented as ' or "
    - It allows duplicate values
    - Slicing can be done because of index
    - It can be typecasted as str()
    - It stores in ordered format

In [153]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [154]:
a = "THis is an Example for StRING"
print(a,type(a))

THis is an Example for StRING <class 'str'>

In [163]:
for i in a:
    print(i,end=" ")

T H i s   i s   a n   E x a m p l e   f o r   S t R I N G

In [156]:
for i in range(len(a)):
    print(a[i],end=" ")

T H i s   i s   a n   E x a m p l e   f o r   S t R I N G

In [159]:
print(a)
print(a[8])
print(a[4:9])
print(a[3:12:2])

THis is an Example for StRING
a
 is a
si nE

In [160]:
print(a)
print(a.capitalize())
print(a.title())
print(a.swapcase())
print(a.casefold())
print(a.upper())
print(a.lower())

THis is an Example for StRING
This is an example for string
This Is An Example For String
thIS IS AN eXAMPLE FOR sTring
this is an example for string
THIS IS AN EXAMPLE FOR STRING
this is an example for string

In [162]:
m = input().split(",")
print(m,type(m))

4,7,8,9
['4', '7', '8', '9'] <class 'list'>