# Python Basics

## Variable:
    - To store a value
    - To change a value
    Syntax:
        variablename = value

In [1]:
a = 10
a

10

In [2]:
k = 45.00
k

45.0

In [3]:
y

NameError: name 'y' is not defined

In [5]:
z = 56
h = 78.011
z
h

78.011

In [6]:
z,h

(56, 78.011)

In [7]:
j = '67'
j

'67'

In [8]:
s = 45
p = 78.000
print(s,p)

45 78.0

In [9]:
m = '45'
n = '89.0112'
print(m,n)

45 89.0112

## Variable Assignments:
    - single variable to single value
    - n number of variables to n values
    - n variables to single value

In [10]:
a,b,c = 45,96.00,'78.46551'
print(a,b,c)

45 96.0 78.46551

In [11]:
j = k = m = 500
print(j,k,m)

500 500 500

In [12]:
w,e,r = 45,28.012,'89656','Ramesh'

ValueError: too many values to unpack (expected 3)

In [13]:
z,b,v,m = 12,95.000,78

ValueError: not enough values to unpack (expected 4, got 3)

In [14]:
d = 45,8.015,'Lalitha'
print(d)

(45, 8.015, 'Lalitha')

## Data Types:
    - int => Only numbers
    - float => Decimal and numbers
    - str => ' or "
    - complex => real and imaginary parts
    - boolean => True or False
    - none => None
    - All Data structures Like [List,Tuple,Set and Dictionary]

## Type:
    - To know the data type of a variable
    Syntax:
        type(variablename)

In [15]:
a,b,c,d,e,f = 12,56.00,'Tilak',False,4+5j,None
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))

12 <class 'int'>
56.0 <class 'float'>
Tilak <class 'str'>
False <class 'bool'>
(4+5j) <class 'complex'>
None <class 'NoneType'>

In [18]:
h = '45'
type(h)

str

## Input Formatting:
    - It displays an info to a user
    - It access values from a user
    - By default it stores string data type values
    Syntax:
        variablename = input('info to a user')

In [3]:
n = input("Enter a value: ")
print(n,type(n))

Enter a value: a
a <class 'str'>

In [4]:
a = 20
a

20

In [5]:
n,m = input("Enter a value: "),input("Enter b value: ")
print(n,type(n),m,type(m))

Enter a value: 78
Enter b value: 52.012
78 <class 'str'> 52.012 <class 'str'>

## Typecasting
    - To change one data type to another data type 
    - int()
    - float()
    - str()
    - complex()
    - bool()
    - All Data Structures Like[List,Tuple,Set and Dictionary]

```
Input:
    Enter a number: ?
    Enter b number: ?
Output:
    Addition of ? and ? is: ?
```

In [7]:
n,m = input("Enter a number: "),input("Enter b number: ")
print("Addition of",n,"and",m,"is: ",int(n)+int(m))

Enter a number: 4
Enter b number: 2
Addition of 4 and 2 is:  6

## Output Formatting:
    - ,
    - format specifier
    - .format
    - f string

In [12]:
n,m = int(input("Enter a value: ")),int(input("Enter b value: "))
print("Addition of",n,"and",m,"is: ",n+m)
print("Substraction of %d and %d is: %d"%(n,m,n-m))
print("Division of {1} and {0} is: {2}".format(n,m,n/m))
print(f"Multiplication of {n} and {m} is: {n*m}")

Enter a value: 4
Enter b value: 6
Addition of 4 and 6 is:  10
Substraction of 4 and 6 is: -2
Division of 6 and 4 is: 0.6666666666666666
Multiplication of 4 and 6 is: 24

## Operators:
    - Arithmetic => +,-,*,/,%,//,**
    - Bitwise => &,|,<<,>>,!
    - Logical => AND,OR,NOT
    - Relational => >,<,>=,<=,!=,==
    - Assignment => +=,-=,*=,/=,//=,**=,%=
    - Memebership => in,not in
    - Identity => is, is not